<% if flash[:notice]%>
  <p><%= flash[:notice]%></p>
<% end%>
<h1>Profile</h1>

<p>Hello, <%= @user.user_name %></p>









<%= button_to "Edit Account Information", {action: "edit", controller: "users", id: @user.id}, method: "get"%>
<%= link_to "Home Page", users_path%>