// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

        
.main_body::after {
    content: "";
    // margin-top: 4vw;
    background: url('https://assetstools.cosentino.com/api/v1/bynder/color/SL6/detalle/SL6-detail.jpg?w=1024&h=1024&auto=compress%2Cformat');
    opacity: 0.85;
    top: 0;
    left: 8%;
    bottom: 0;
    right: 8%;
    position: fixed;
    z-index: -1;   
  }